In [22]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>")) 

df = pd.read_excel('Data/Monthly authorised deposit-taking institution statistics back-series March 2019 - December 2022.xlsx',sheet_name= 'Table 1',header=1)
RBAdf = pd.read_excel('Data/RBAcredit.xlsx',sheet_name= 'Data',header=1)

In [36]:
RBAdf_cut = RBAdf.iloc[519:]
#df.columns = RBAdf_cut.columns.str.replace(' ','_')

In [37]:
RBAdf_cut['Total_Housing_Credit'] = RBAdf_cut['Credit; Owner-occupier housing; Seasonally adjusted']+RBAdf_cut['Credit; Investor housing; Seasonally adjusted']

<ipython-input-37-fba5e55cf1ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RBAdf_cut['Total_Housing_Credit'] = RBAdf_cut['Credit; Owner-occupier housing; Seasonally adjusted']+RBAdf_cut['Credit; Investor housing; Seasonally adjusted']

In [39]:
RBAdf_cut.shape

(46, 20)

In [42]:
df.columns = df.columns.str.replace(' ','_')
df['Total_Housing_Loans'] =  df['Loans_to_households:_Housing:_Owner-occupied'] +  df['Loans_to_households:_Housing:_Investment']

In [43]:
df

,Period,ABN,Institution_Name,Cash_and_deposits_with_financial_institutions,Trading_securities,Investment_securities,Net_acceptances_of_customers,Total_residents_assets,Total_securitised_assets_on_balance_sheet,Loans_to_non-financial_businesses,...,Negotiable_Certificates_of_Deposit,Total_short-term_borrowings,Total_long-term_borrowings,Deposits_by_non-financial_businesses,Deposits_by_financial_institutions,Deposits_by_general_government,Deposits_by_households,Deposits_by_community_service_organisations,Total_residents_deposits,Total_Housing_Loans
0,2022-12-31,48848300367,Agricultural Bank of China Limited,118.6,0.0,4166.3,0.0,6638.8,0.0,2246.1,...,629.5,6166.5,500.0,1003.9,0.0,0.0,0.0,0.0,1003.9,0.0
1,2022-12-31,15081596009,AMP Bank Limited,288.2,0.0,4127.4,0.0,33180.1,8299.7,581.3,...,509.6,509.5,422.0,2676.5,1804.7,160.8,9975.0,88.8,14705.8,22326.1
2,2022-12-31,37002950745,Arab Bank Australia Limited,57.9,0.0,266.3,0.0,1295.2,123.4,287.2,...,3.0,3.0,0.0,316.7,223.4,1.0,370.5,4.4,916.0,488.3
3,2022-12-31,11005357522,Australia and New Zealand Banking Group Limited,84278.4,24736.9,42379.1,34.0,720154.3,88943.7,134241.9,...,35068.0,85039.3,69424.4,130396.9,55155.4,4620.6,160509.6,4862.9,355545.4,270976.3
4,2022-12-31,11087651125,Australian Central Credit Union Ltd,156.1,0.0,1351.3,0.0,12650.9,3293.2,31.5,...,NaN,268.3,387.5,476.9,155.0,1.1,7120.5,13.5,7766.9,8719.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5773,2019-03-31,67622375722,volt bank limited,1.4,0.0,12.4,0.0,19.5,0.0,0.0,...,0.0,0.0,0.0,0.1,0.3,0.0,0.0,0.0,0.3,0.0
5774,2019-03-31,98087651116,Warwick Credit Union Ltd,44.2,0.0,0.0,0.0,304.5,0.0,45.5,...,NaN,0.1,0.0,102.4,0.0,0.0,144.5,29.2,276.0,202.4
5775,2019-03-31,48087651787,WAW Credit Union Co-Operative Limited,100.6,0.0,0.6,0.0,485.0,0.0,32.6,...,NaN,0.0,0.0,54.5,5.6,30.4,329.8,26.2,446.5,338.9
5776,2019-03-31,33007457141,Westpac Banking Corporation,10475.0,13027.1,78573.7,0.0,852513.1,122064.6,125693.1,...,31195.6,62295.6,147385.6,116449.9,83327.2,10779.7,212460.0,2780.4,425797.2,408206.1
5777,2019-03-31,94150148299,Woori Bank,30.9,0.0,29.2,0.0,394.5,0.0,350.6,...,0.0,42.4,0.0,71.8,0.0,0.0,0.5,1.3,73.6,0.0

In [49]:
# convert date column to datetime
df['date'] = pd.to_datetime(df['Period'])

# group by year and month
grouped = df.groupby([df['date'].dt.year, df['date'].dt.month])

# calculate sum for each group
df['Month_Sum'] = grouped['Total_Housing_Loans'].transform('sum')

In [50]:
dfdropped = df.drop_duplicates('date')

In [54]:
RBAdf_cut_final= RBAdf_cut['Title Total_Housing_Credit'.split()]

In [73]:
final_rbd = RBAdf_cut_final.rename(columns={'Title':'date'})

In [74]:
final_rbd['date'] = pd.to_datetime(final_rbd['date'])

In [75]:
dfdropped_fianl = dfdropped['date Month_Sum'.split()]

In [77]:
final_rbd['Total_Housing_Credit'] = final_rbd['Total_Housing_Credit']*1000

In [78]:
final_rbd

          date Total_Housing_Credit
519 2019-03-31          1.81807e+06
520 2019-04-30          1.82289e+06
521 2019-05-31          1.82786e+06
522 2019-06-30          1.83245e+06
523 2019-07-31          1.79061e+06
524 2019-08-31          1.79485e+06
525 2019-09-30          1.80049e+06
526 2019-10-31          1.80462e+06
527 2019-11-30          1.80951e+06
528 2019-12-31          1.81379e+06
529 2020-01-31          1.81896e+06
530 2020-02-29          1.82759e+06
531 2020-03-31          1.82744e+06
532 2020-04-30          1.83272e+06
533 2020-05-31           1.8373e+06
534 2020-06-30          1.84161e+06
535 2020-07-31          1.84614e+06
536 2020-08-31          1.85152e+06
537 2020-09-30          1.85971e+06
538 2020-10-31          1.86564e+06
539 2020-11-30          1.87283e+06
540 2020-12-31          1.88011e+06
541 2021-01-31           1.8871e+06
542 2021-02-28          1.89503e+06
543 2021-03-31          1.90392e+06
544 2021-04-30          1.91486e+06
545 2021-05-31          1.92692e+06
546 2021-06-30          1.94152e+06
547 2021-07-31          1.95951e+06
548 2021-08-31           1.9728e+06
549 2021-09-30          1.98573e+06
550 2021-10-31          1.99705e+06
551 2021-11-30          2.01035e+06
552 2021-12-31          2.02472e+06
553 2022-01-31          2.03718e+06
554 2022-02-28          2.04875e+06
555 2022-03-31          2.05933e+06
556 2022-04-30          2.07236e+06
557 2022-05-31          2.08574e+06
558 2022-06-30          2.10004e+06
559 2022-07-31          2.10931e+06
560 2022-08-31          2.12082e+06
561 2022-09-30          2.13073e+06
562 2022-10-31          2.14008e+06
563 2022-11-30          2.14764e+06
564 2022-12-31          2.15522e+06

In [64]:
dfdropped_fianl

           date  Month_Sum
0    2022-12-31  2061521.8
125  2022-11-30  2051543.5
250  2022-10-31  2041356.8
375  2022-09-30  2032435.8
501  2022-08-31  2024419.1
627  2022-07-31  2015320.5
753  2022-06-30  2009629.8
879  2022-05-31  1994322.6
1007 2022-04-30  1982551.8
1135 2022-03-31  1972433.5
1263 2022-02-28  1961115.3
1391 2022-01-31  1951781.7
1520 2021-12-31  1940376.7
1648 2021-11-30  1923469.7
1772 2021-10-31  1909558.5
1896 2021-09-30  1898933.5
2020 2021-08-31  1888869.8
2144 2021-07-31  1879028.2
2268 2021-06-30  1860398.9
2392 2021-05-31  1844342.7
2517 2021-04-30  1832791.6
2642 2021-03-31  1823749.6
2767 2021-02-28  1813864.2
2892 2021-01-31  1806813.7
3017 2020-12-31  1800721.0
3143 2020-11-30  1791648.3
3268 2020-10-31  1783886.0
3392 2020-09-30  1777998.0
3516 2020-08-31  1771562.2
3640 2020-07-31  1767262.5
3764 2020-06-30  1765901.8
3888 2020-05-31  1758309.3
4012 2020-04-30  1754130.2
4137 2020-03-31  1750409.6
4262 2020-02-29  1750219.2
4388 2020-01-31  1746919.1
4514 2019-12-31  1742405.2
4640 2019-11-30  1736440.6
4766 2019-10-31  1730719.4
4893 2019-09-30  1727266.3
5021 2019-08-31  1727161.5
5148 2019-07-31  1723802.1
5275 2019-06-30  1722822.5
5401 2019-05-31  1717105.7
5527 2019-04-30  1713047.1
5653 2019-03-31  1709224.5